@{
    ViewData["Title"] = "OperationSuccessful";
}

<div>
    <h1>Your operation has been Successful</h1>
    <h3>Redirecting in 5 seconds...</h3>
    <meta http-equiv="refresh" content="5;url=./Table" />
</div>